@font-face {
  font-family: 'NanumSquareR';
  src: url(./font/NanumSquareR.ttf);
}

div {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'NanumSquareR';
}

.header-container {
  display: flex;
  flex-direction: row;
  height: 25%;
  background-color: palevioletred;
  align-items: center;
  padding: 10px;
}

.header-items {
  margin-right: 5px;
  color: white;
  font-size: 20px;
}

p,
h3,
span {
  /* //윈도우에서 글자 선명하게 보인다. */
  transform: rotate(0.03deg);
}

.container {
  width: 800px;
  height: 200px;
  border: 2px solid black;
}

.left {
  width: 80%;
  height: 100%;
  background-color: aquamarine;
  float: left;
}

.left-header {
  clear: both;
  height: 20%;
}

img {
  float: left;
}

.left-contents {
  height: 80%;
  background-color: brown;
}

.left-title {
  float: left;
}

.right {
  width: 20%;
  height: 100%;
  background-color: bisque;
  float: left;
}
