body {
  margin: 0;
  position: relative;
}
div,
input {
  box-sizing: border-box;
}

.container {
  background-color: #eee;
  position: absolute;
  width: 500px;
  max-height: 700px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 30px;
}

input {
  height: 30px;
}

.name {
  display: flex;
  justify-content: space-between;
}

textarea {
  width: 400px;
  height: 200px;
}

.bottom {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.bottom input {
  vertical-align: -7px;
}
