.container{
    width: 800px;
    height: 200px;
    border: 2px solid black;

}

.left{
    width: 80%;
    height: 100%;
    background-color: aquamarine;
    float: left;
}

.left-header{
    clear: both;
    height: 20%;
    
}

img{
    float: left;
}

.left-contents{
    height: 80%;
    background-color: brown;
   
}

.left-title{
    float: left;
}



.right{
    width: 20%;
    height: 100%;
    background-color:bisque;
    float: left;
}

