.content {
  color: red;
}

.profile {
  height: 200px;
  display: block;
  margin: 0 auto;
}

.title {
  text-align: center;
}

#special {
  text-align: center;
  color: blue;
}

.box {
  width: 200px;
  margin: 30px auto;
  background-color: cadetblue;
  padding: 40px;
  border: 4px solid black;
  border-radius: 15px;
  font-size: 10px;
  color: white;
  box-shadow: 5px 5px 10px black;
}

table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
}
