/* eslint-disable */
$mainColor: #ff0000;

.red {
  color: $mainColor;
}
@mixin fun() {
  background: #eeeeee;
  padding: 15px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.my-alert {
  @include fun();
}

.my-alert-red {
  @extend .my-alert;
  background: #ff3591;
}

.my-alert p {
  margin-bottom: 0;
}
// div.container h4 {
//   color: blue;
// }

// div.container {
//   h4 {
//     color: blue;
//   }
//   p {
//     color: green;
//   }
// }
